body {
    background-color: #2f27ce;
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 2rem;
    text-align: center;
    width: fit-content;
  }
  
  nav {
    border-bottom: 1px dashed white;
    display: flex;
    justify-content: space-around;
  }
  
  .blogs {
    display: grid;
    
  }
  
  .blog {
    color: white;
    border: 1px solid white;
    margin: 2rem;
    border-radius: 20px;
    padding: 20px;
  }
  
  